body {
  	max-width: 60%;
  	margin: auto;
  	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#title {
	font-family: "Atomic Age";
	font-size: 40px;
	float: left;
	margin: 10px;
}

#header {
	background-color: #DED8E6;
	border: none;
	box-shadow: 0px 2px #9E9E9E;
	overflow: hidden;
}

.col-1 {
  margin-left: 100px;
  margin-top: 20px;
  width: 23%;
  float: left;
}

.col-2 {
  margin-top: 20px;
  width: 30%;
  float: left;
}

#login {
  margin-right: 100px;
  margin-top: 20px;
  width: 10%;
  float: right;
}

#errorMsg {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

#userID {
	color: white;
	float: right;
	margin-right: 10px;
	margin-bottom: 1px;
	clear: right;
}

#logout {
  color: #705E8B;
	float: right;
	margin-right: 10px;
	margin-top: 1px;
	clear: right;
}

button {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 12px;
}

#nav {
  width: 25%;
  margin: 10px;
  border-right: 1px solid #9E9E9E;
  padding-right: 10px;
  float: left;
}

.navElement {
  margin-bottom: 5px;
  padding: 8px;
  background-color: #F5F5F5;
  box-shadow: 2px 2px #9E9E9E;
}

.navElement, a {
  color: black;
  text-align: center;
  text-decoration: none;
}

.examTaken, .examAvailable, .examRegisteredFor {
  width: 69%;
  margin-top: 10px;
  margin-right: 6px;
  padding: 5px;
  float: right;
  background-color: #F5F5F5;
  line-height: 1.5;
  border-radius: 15px;
}

.examTaken ul, .examAvailable ul, .examRegisteredFor ul {
  list-style-type: square;
}

.registerButton, .deregisterButton, .acceptButton, .rejectButton {
  width: 110px;
  margin-left: 20px;
}

.addButton, .editButton, .evaluateButton, .saveButton, .reviewButton {
   width: 100px;
   margin-right: 20px;
   float: right;
 }

 .subject {
   margin-bottom: 5px;
   padding: 8px;
   background-color: #DED8E6;
   box-shadow: 2px 2px #9E9E9E;
 }

 .subject, a {
   color: black;
   text-align: center;
   text-decoration: none;
 }

 #newExamForm, #editExamForm, #students {
   width: 69%;
   margin-top: 10px;
   margin-right: 6px;
   padding: 5px;
   float: right;
   background-color: #F5F5F5;
   line-height: 1.5;
   border-radius: 15px;
 }

 #students ul {
   list-style-type: none;
 }

 #students li {
   margin-bottom: 10px;
 }

#welcome {
  width: 70%;
  float: right;
  margin-top: 10px;
  margin-right: 6px;
  text-align: center;
  background-color: #F5F5F5;
  border-radius: 15px;
  box-shadow: 2px 2px #9E9E9E;
}

#welcome2 {
   margin-top: 10px;
   text-align: center;
 }

.ispitomat {
  font-family: "Atomic Age";
}

.info {
  margin: 10px;
}

.current {
  background-color: #E9E9E9;
}

.examHeader {
  margin-left: 10px;
  margin-bottom: 0px;
  margin-top: 5px;
  color: #5D4D76;
}

hr {
  margin-left: -5px;
  margin-right: -5px;
}
