body {
  	max-width: 60%;
  	margin: auto;
  	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#title {
	font-family: "Atomic Age";
	font-size: 40px;
	float: left;
	margin: 10px;
}

#header {
	background-color: #DED8E6;
	border: none;
	box-shadow: 0px 2px #9E9E9E;
	overflow: hidden;
}

.col-1 {
  margin-left: 100px;
  margin-top: 20px;
  width: 23%;
  float: left;
}

.col-2 {
  margin-top: 20px;
  width: 30%;
  float: left;
}

#login {
  margin-right: 100px;
  margin-top: 20px;
  width: 10%;
  float: right;
}

#errorMsg {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

#userID {
	color: white;
	float: right;
	margin-right: 10px;
	margin-bottom: 1px;
	clear: right;
}

#logout {
  color: #705E8B;
	float: right;
	margin-right: 10px;
	margin-top: 1px;
	clear: right;
}

button {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 12px;
}

#nav {
  width: 25%;
  margin: 10px;
  border-right: 1px solid #9E9E9E;
  padding-right: 10px;
  float: left;
}

.navElement {
  margin-bottom: 5px;
  padding: 8px;
  background-color: #F5F5F5;
  box-shadow: 2px 2px #9E9E9E;
}

.navElement, a {
  color: black;
  text-align: center;
  text-decoration: none;
}

.examTaken, .examAvailable, .examRegisteredFor {
  width: 68%;
  margin-top: 10px;
  padding: 5px;
  float: left;
  background-color: #F5F5F5;
  line-height: 1.5;
}

ul {
  list-style-type: square;
}

#register, #deregister {
  width: 100px;
}

.info {
  margin: 10px;
}

.current {
  background-color: #E9E9E9;
}
